@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font: Open Sans */

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-styles */
.text-primary{
  color: #FD6E0A;
}
.secondary-bg{
  background-color: #FFF8F3;;
}
.dark-two{
  color: #474747;
}
.dark-three{
  color: #757575;
}
.btn-primary{
  background-color: #FD6E0A;
  color:white;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 25px;
  border-radius: 5px;
  border: none;
}

.section-title{
  color:#181818;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  
}
.section-description{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

/* nav styles */
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin: 51px;

}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* header styles */
.header{
  background-image: url(../assets/images/developer.png),url(../assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* banner styles */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin : 0 38px 0 230px;
 
}
.banner-content{
  max-width: 580px;
}

.banner-greetings{
  font-size: 45px;
  font-weight: 600;

}
.banner-title{
  font-size: 85px;
  font-weight: bold;
 
}
.banner-description{
  font-size: 18px;
}

main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about section styles */

.about{
  
  border-radius: 10px;
  text-align: center;
  margin-top: 130px;
  padding: 114px 169px 148px 144px;

}
.about-items{
  display: flex;
  justify-content: space-around;
  
  
}
.item-title{
  font-size: 20px;
  color: #757575;
}
.item-description{
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}
/* skills styles */
.skills-container{
  display: flex;
  gap:24px;
}
.skill{
  margin-top: 50px;
  padding :33px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-description{
  font-weight: 400;
}
